/* <!--File style.css --> */
/* style.css */
p{
    color: red;
    font-size: 20px;
}

.colored-div {
    background-color: #99ff99;
    padding: 10px;
}

.blue-text {
    color: blue;
}

.italicized-text {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-style: italic;
}